.resize{
  height: 127px;
  width: 127px;
  margin: 5px;
  object-fit: cover;
  object-position: center;
}
.dropdown-menu {
  height: 250px;
  overflow-y: scroll;
}

.input{
  margin: 5px;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  width: 180px;
}